.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}.header{
  text-align: center;
  margin: 10px 0 30px 0;
}
.product-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.product-item{
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
  width: 290px;
  height: 300px;
}
.price,h2,h5{
  padding: 0 5px;
}
.price{
  color: gray;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .product-item{
    flex-basis: 90%;
  }
  img{
    width: 100%;
  }
}

